*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    height: 70vh;
    min-width: 350px;
    max-width: 350px;
}


.display {
    width: 100%;
    min-height: 25%;
    max-height: min-content;
    background-color: rgba(0, 140, 255, 0.38);
    font-weight: bold;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
}

.currentNumber {
    font-size: 40px;
}

.previousNumber {
    font-size: 20px;
}

.displayOperator {
    font-size: 25px;
}


.panel {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
}

.panel button {
    font-size: 25px;
    background-color: rgba(0, 140, 255, 0.62);
    cursor: pointer;
    border: none;
    transition: all .3s ease-out;
}

button:hover {
    background-color: rgba(0, 140, 255, 0.79);
}

.equals {
    grid-row: -1/-2;
    grid-column: -3/-1
}

.clear {
    
    grid-column: -5/-3;
}