body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 500px;
    height: 500px;
}

.display {
    border: 3px solid black;
    height: 100px;
}

.row {
    display: flex;
}


.btn {
    width: 125px;
    height: 80px;
    background-color: white;
    border: none;
    font-size: 24px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: lightgrey;
}


.operator {
    width: 125px;
    height: 80px;
    background-color: rgb(254, 216, 177);
    border: none;
    font-size: 24px;
    transition-duration: 0.4s;
}

.operator:hover {
    background-color: orange;
}


#btn0 {
    width: 375px;
    height: 80px;
    background-color: white;
    border: none;
    font-size: 24px;
    transition-duration: 0.4s;
}

#btn0:hover {
    background-color: lightgrey;
}


#btnEquals {
    width: 375px;
    height: 80px;
    background-color: rgb(254, 216, 177);
    border: none;
    font-size: 24px;
    transition-duration: 0.4s;
}

#btnEquals:hover {
    background-color: orange;
}


#btnC {
    width: 125px;
    height: 80px;
    background-color: rgb(220, 220, 220);
    border: none;
    font-size: 24px;
    transition-duration: 0.4s;
}

#btnC:hover {
    background-color: darkgray;
}